body{
    margin: 100px 55px 10px 294px;

    background-color: #ffe6e6;
}
#container
{   width: 80%;
    align-items: center;
    align-content: center;
    border-radius: 2em;

    height: 500px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);

}
#h1-left{
    color: darkslategrey;
    display: block;
    text-align: center;
    padding-bottom:10px;

}
#left{
   
    margin-top: 15px;
    margin-inline: 24px;
    padding-left: 20px ;
    background-color: white;
    width: 40%;
    display: flex;
    float: left;

}
#right{
    padding-top: 30px;
    margin-right: 20px;
    display:flex;
    float: right;
    align-content: center;
}
#labels{
    margin-left: 10px;
    margin-top: 4px;
    width: 50%;
    float: left;
}
#name,#confirm-password,#email,#password
{
    border-collapse: collapse;
    border-left: none ;
    border-right: none ;
    border-top: none ;
    border-bottom: 2px solid red;
}
#button
{
    font-size: larger ;
    align-content: center;
    text-align: center;
    height: 2em;
    border: 20px;
    margin-right: 10px;
    background-color: #2f4f4f;
    border: none;
    border-radius: 2px ;
    display: block;
    float: right;
    size: 200px;
}
#button:hover
{   color: black;
    background-color: #5ac711;
}
img{
    border-radius: 20px;
    width: 100%;
    height: 450px;

}